<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Carousel Web Page Practice</title>
</head>

<body>
    <div class="backgroundTest">
        <header>
            <div class="Logo">
                <img src="/public/css/resources/logos,icons,misc/logo.png" alt="">
            </div>

            <div class="Header buttons">
                <ul class="HeaderTools">
                    <li class="magGlassIcon"><img src="/public/css/resources/logos,icons,misc/magglass icon.png" alt
                            style="
                    height: 36px;
                    width: 36px;
                "></li>
                    <li class="liSignIn"><a class="SignInClick">Iniciar Sesion</a></li>
                    <li class="RegistrationButt"><a class="RegistrationEvent">Registrate</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="mainContent">
                <div class="blockContent">
                    <h1>Main Title
                    </h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    <Button class="ctaButton">BigCTAButton</Button>
                </div>
            </div>
        </main>
        <div class="bottomSegment">
            <p class="closingStatment">Geometrical figures</p>
            <p class="closingStatment2">by Adriano Ferrante</p>
        </div>
        <div class="Footer">
            <footer>
                <ul class="footerUl">
                    <li>Jobs</li>
                    <li>ABout Us</li>
                    <li>Blog</li>
                    <li>Terms of Use</li>
                    <li>Ask for Help</li>
                    <li>Privacy</li>
                    <li>Terms and Conditions</li>
                    <li>Cookies</li>
                    <li>Language</li>
                    <li>icons</li>
                    <li>icons</li>
                    <li>icons</li>
                </ul>
            </footer>
        </div>

    </div>
</body>

</html>