*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  font-family: 'Open Sans', sans-serif;
}

header {
  height: 100px;
  width: 100%;
  background: rgba(0,0,0,.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.Logo {
  font-size: 24px;
}

ul {
align-items: center;
  display: flex;
  list-style-type: none;

}

ul li a{
  
  padding:  10px;
  color: white;
}


.magGlassIcon{
  padding-right: 10px;
  cursor: pointer;
}

.liSignIn {
  border: 2px solid #fff;
  margin: 8px;
  padding: 5px 10px;
  cursor: pointer;
}

.RegistrationButt{
  margin: 8px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.RegistrationEvent{
  color: black;
}

.material-symbols-outlined {
  color: white;
}


main {
  align-items: center;
  height: fill;
}

body{
  
  background-image: url("/public/css/resources/logos,icons,misc/background 1.png");
  animation: change 20s infinite ease-in-out;
}

.mainContent{
  align-items: center;
    display: flex;
    justify-content: center;
    height: 80%;
    position: absolute;
    width: 100%;
}


.blockContent{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48;
  margin-bottom: 50px;
  margin-top: 26px
}

.ctaButton {
  height: 70px;
  width: 230px;
  font-size: 30px;
  margin: 8px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  border-radius: 5px;
}
.bottomSegment{
display: flex;
bottom: 95px;
position: absolute;
width: 100%;
flex-direction: column;
align-items: center;
}

.closingStatment{
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
.closingStatment2{
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

footer {
  display: flex;
  position : absolute;
  bottom : 0;
  height : 80px;
  width: 100%;
  margin-top : 40px;
  background-color: black;
  color: #fff;
  padding: 0 25px;
}

.footerUl{
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
  list-style-type: none;
  
}

li{
  justify-content: center;
  padding: 0 15px;
  cursor: pointer;
}

@keyframes change{
  0%
  {
    background-image: url("/public/css/resources/logos,icons,misc/background 1.png");
  }
  40%
  {
    background-image: url("/public/css/resources/logos,icons,misc/background 2.png");
  }
  80%
  {
    background-image: url("/public/css/resources/logos,icons,misc/background 3.png");
  }
}

